{% extends 'base' %}
{% block styles %}
    <link rel="stylesheet" href="{{ SDP_CDN }}css/slider.css" />
    <link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/animate.css/3.0.0/animate.min.css" />
{% endblock %}
{% block content %}
    {% include 'sections.slider' %}
    <div class="features">
        <div class="container">
            <div class="features-box col-lg-offset-1 col-md-offset-1 col-lg-10 col-md-10">
                <h2>FEATURES</h2>
                <div class="row">
                    <div class="ft-text-a col-sm-10 col-sm-push-2">
                        <h3 class="orange">FREE Body Sculpting Workouts</h3>
                        <p>You'll find a workout for you whether you've got a full gym <br />membership, some dumbbells at home or no equipment at all</p>
                    </div>
                    <div class="col-sm-pull-10 col-sm-2 hidden-xs">
                        <img class="img-responsive" src="/img/featured/ft1.png"/>
                    </div>
                </div>

                <div class="row">
                    <div class="col-sm-10 ft-text-a text-right">
                        <h3 class="purple">Handy Calendar</h3>
                        <p>Stay organized with all of your workouts and meal plans <br />together in one place</p>
                    </div>
                    <div class="col-sm-2 hidden-xs">
                        <img class="img-responsive right" src="/img/featured/ft2.png"/>
                    </div>
                </div>
                <div class="row">
                    <div class="col-sm-10 col-sm-push-2 ft-text-a">
                        <h3 class="green">FREE Fat Burning Meal Plans</h3>
                        <p>Get access to simple fat burning meal plans filled with tasty <br />meals from our database of over 200 recipes</p>
                    </div>
                    <div class="col-sm-2 col-sm-pull-10 hidden-xs">
                        <img class="img-responsive" src="/img/featured/ft3.png"/>
                    </div>
                </div>

                <div class="row">
                    <div class="col-sm-10 ft-text-a text-right">
                        <h3 class="red">FREE Fitness Tracking Tools</h3>
                        <p>Track your progress and see yourself getting leaner, stronger and <br />more fit with easy-to-use tools </p>
                    </div>
                    <div class="col-sm-2 hidden-xs">
                        <img class="img-responsive right" src="/img/featured/ft4.png"/>
                    </div>
                </div>
                <div class="row">
                    <div class="col-sm-10 col-sm-push-2 ft-text-a">
                        <h3 class="blue">Connect with Trainers</h3>
                        <p>Get the confidence of having your questions answered by professional <br />trainers inside</p>
                    </div>
                    <div class="col-sm-2 col-sm-pull-10 hidden-xs">
                        <img class="img-responsive" src="/img/featured/ft5.png"/>
                    </div>
                </div>
            </div><!--end features box -->
        </div><!--end features section -->
    </div>
{% endblock %}
{% block scripts %}
    <script src="{{ SDP_CDN }}js/register.js"></script>
    <script src="{{ SDP_CDN }}js/slider.js"></script>
    <noscript>
        <link rel="stylesheet" href="{{ SDP_CDN }}css/styleNoJS.css" />
    </noscript>
{% endblock %}
